/**CSS Reset **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**CSS Reset**/


/**Comment CSS style for the page**/

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}


/**Comment CSS style for the page**/


/** Login **/

.login {
    width: 500px;
    height: 340px;
    background: #00cbff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -250px;
}

.loginmain {
    padding: 20px;
    color: white;
}

.loginmain ul li {
    margin-top: 20px;
}

.loginmain ul li span {
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: right;
    font-size: 14px;
}

.loginmain ul li input[type="text"],
.loginmain ul li input[type="password"] {
    width: 250px;
    height: 30px;
    padding: 0 5px 0 5px;
}

.loginmain .verify-img img {
    width: 260px;
    height: 40px;
    margin-left: 120px;
    background: #00cbff;
}

.loginmain ul li input[type="button"] {
    width: 80px;
    height: 34px;
    border: none;
    background: #00497d;
    color: #fff;
    font-size: 14px;
    margin-left: 130px;
    cursor: pointer;
    vertical-align: middle;
    float: left;
}

.loginmain ul li input[type="button"]:hover {
    background: #015997;
}


/** Login **/